	#banner {
		@include padding(10em, 0, (0, 0, _size(wrapper-edges, large) * -0.5, 0));
		height: 100vh;

		.inner {
			margin: 0 auto;
			width: _size(inner);
		}
		.logo {
			@include vendor('transition', (
				'opacity 2s ease',
				'transform 1s ease',
			));
			@include vendor('transform', 'translateY(0)');
			opacity: 1;
			// margin: 0 0 (_size(element-margin) * 0.65) 0;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				border-radius: 100%;
				border: solid 2px _palette(dark);
				cursor: pointer;
				display: inline-block;
				height: 2.65em;
				line-height: 2.35em;
				text-align: center;
				width: 2.65em;
				user-select: none;
				-webkit-user-select: none; /*Safari*/
				-moz-user-select: none; /*Firefox*/
			}
			img:hover{
				-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
			user-select: none;
			-webkit-user-select: none; /*Safari*/
			-moz-user-select: none; /*Firefox*/
			}
		}

		.inner .BannerMainTitleName{
			// height: 200px;
			display: flex;
			justify-content: space-evenly;
			// align-items: center;
			text-align: center;
			cursor: pointer;
			h1{
				width: 100%;
				font-family: AutorichSans;
				font-weight: 400;
				font-style: normal;
				font-size: 7vw;
				margin: 0;
				color: _palette(light);
				-webkit-user-select: none; /* Safari */
				-ms-user-select: none; /* IE 10 and IE 11 */
				user-select: none; /* Standard syntax */
				
			}
		}

		@-webkit-keyframes rotate-center {
			0% {
			  -webkit-transform: rotate(0);
					  transform: rotate(0);
			}
			100% {
			  -webkit-transform: rotate(360deg);
					  transform: rotate(360deg);
			}
		  }
		  @keyframes rotate-center {
			0% {
			  -webkit-transform: rotate(0);
					  transform: rotate(0);
			}
			100% {
			  -webkit-transform: rotate(360deg);
					  transform: rotate(360deg);
			}
		  }
		img {
			@include vendor('transition', (
				'opacity 0.5s ease',
				'transform 0.5s ease',
				'filter 0.25s ease',
			));
			@include vendor('transform', 'translateX(0)');
			@include vendor('transition-delay', '0.65s');
			@include vendor('filter', 'blur(0)');
			opacity: 1;
			border-bottom: solid 2px _palette(border);
			font-size: 2.25em;
			padding-bottom: _size(element-margin) * -0.2;
			image-rendering: auto;
			image-rendering: crisp-edges;
			image-rendering: pixelated;
			image-rendering: -webkit-optimize-contrast;
		}
		.hometext-logo{
			-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
			width: 10em;
		}

		@-webkit-keyframes scale-in-center {
			0% {
			  -webkit-transform: scale(0);
					  transform: scale(0);
			  opacity: 1;
			}
			100% {
			  -webkit-transform: scale(1);
					  transform: scale(1);
			  opacity: 1;
			}
		  }
		  @keyframes scale-in-center {
			0% {
			  -webkit-transform: scale(0);
					  transform: scale(0);
			  opacity: 1;
			}
			100% {
			  -webkit-transform: scale(1);
					  transform: scale(1);
			  opacity: 1;
			}
		  }
		p {
			@include vendor('transition', (
				'opacity 0.5s ease',
				'transform 0.5s ease',
				'filter 0.25s ease',
			));
			@include vendor('transform', 'translateX(0)');
			@include vendor('transition-delay', '0.8s');
			@include vendor('filter', 'blur(0)');
			opacity: 1;
			color: _palette(dark);
			font-family: _font(family-heading);
			font-size: 1em;
			font-weight: _font(weight-heading);
			letter-spacing: _font(kern-heading);
			line-height: 2;
			text-align: center;
			text-transform: uppercase;
			cursor: pointer;
			user-select: none;
			-webkit-user-select: none; /*Safari*/
			-moz-user-select: none; /*Firefox*/
		}

		@include breakpoint('<=large') {
			@include padding(7em, 0, (0, 0, _size(wrapper-edges, large) * 0.5, 0));

			background-color:		_palette(bg);

								// linear-gradient(to top, transparentize(_palette(bg), 0.2), transparentize(_palette(bg), 0.2)),
			background-image:		
									url('../../images/GradientBGorange1.png');

			background-size:		auto,
									cover;

			background-position:	center,
									center;

		 	margin-bottom: (_size(wrapper-edges, large) * -1);
		}

		@include breakpoint('<=medium') {
			@include padding(12em, 3em, (0, 0, _size(wrapper-edges, medium) * 0.5, 0));

		 	margin-bottom: (_size(wrapper-edges, medium) * -1);

			.inner {
				width: 100%;
				display: flex;
				flex-direction: column;
				height: 50vh;
				justify-content: flex-end;
			}
		}

		@include breakpoint('<=small') {
			@include padding(5em, 2em, (0, 0, _size(wrapper-edges, small) * 0.5, 0));

		 	margin-bottom: (_size(wrapper-edges, small) * -1);

			.logo {
				margin: 0 0 (_size(element-margin) * 0.5) 0;

				.icon {
					font-size: 1.5em;
				}
			}

			h2 {
				font-size: 1.5em;
			}
			.hometext-logo{
				width: 5.8em;
			}

			p {
				font-size: 1em;
				text-align: center;
			}
		}

		body.is-preload & {
			.logo {
				@include vendor('transform', 'translateY(0.5em)');
				opacity: 0;
			}

			h2 {
				opacity: 0;
				@include vendor('transform', 'translateX(0.25em)');
				@include vendor('filter', 'blur(2px)');
			}

			p {
				opacity: 0;
				@include vendor('transform', 'translateX(0.5em)');
				@include vendor('filter', 'blur(2px)');
			}
		}
	}